<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665236080933-2arkk8l1p32nh36m9ma1h3kt3pm9r3np.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665236080933-2arkk8l1p32nh36m9ma1h3kt3pm9r3np</string>
	<key>API_KEY</key>
	<string>AIzaSyCS5Uw6PVHr7xXvdIYe6xCKoF8MKa5w6pU</string>
	<key>GCM_SENDER_ID</key>
	<string>665236080933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.optimalsoft.MealMonkey</string>
	<key>PROJECT_ID</key>
	<string>mealmonkey-4cee7</string>
	<key>STORAGE_BUCKET</key>
	<string>mealmonkey-4cee7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665236080933:ios:18cae7fffbeaca313a72cc</string>
</dict>
</plist>